{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {{ titleText }} {% endblock %}
{% block body %}
    <div class="container form-control w-75 my-4">
        <h1>{{ titleText }}</h1>
        {{ include('articles/form.html.twig', {'buttonText': buttonText}) }}
    </div>

{% endblock body %}
