<div class="gap-3 d-flex justify-content-end align-items-center badge text-bg-light">
    <a href="{{ path('app_article_edit', {'id': id}) }}">
        <i class="bi bi-pencil"></i>
    </a>
    <a href="{{ path('app_article_delete', {'id': id}) }}">
        <i class="bi bi-x-lg"></i>
    </a>
</div>